.placeOrder-container{
    width: 100%;
    height: 100vh;

}
.placeOrder-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.placeOrder-form input{
    display: block;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;

}
.placeOrder-form-container img{
    

}
.placeorder-img{
    width: 60%;
}