/* .products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
} */
.products-container{
    width: 100%;
}
.single-product{
    border: 1px solid;
    padding: 20px;
    width: 300px;
    margin: 5px;
    
}
.single-product img{
    height: 200px;
    width: 200px;
    
}