.nav-link{
    list-style: none;
    margin-right: 30px;
    color: white;
}
.navbar-container{
    margin-bottom: 60px;
}

@media only screen and (max-width: 600px) {
    .navbar-container{
        margin-bottom: 150px;
    }
  }